---
layout: archive
title: "Installation Guide"
permalink: /talks/
author_profile: true
---


- First, plug in the embedded system's adapter.<br>
- Second, connect 3 USB cables to your server computer. (STM32 Serial Communication Cable, STM32 usb power cable and camera usb cable)<br>
- Third, please do the following server computer operations.<br>
- If you have successfully opened the server application, you can perform the Desktop and Mobile Application operations below. You can watch our applications live. <br>
<br>
Thanks :)

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
